@model List<TaskModel>

<div class="container">
    <h1 class="text-center">Your active tasks</h1>
    <hr />

    <div class="row">
        @foreach (var obj in Model.OrderBy(u => u.CreationTime))
        {
            <div class="col-md-4 mb-3">
                <div class="card border-primary" style="max-width: 20rem;">
                    <div class="card-header">@obj.TaskTitle</div>
                    <div class="card-body">
                        <p class="card-text">@obj.TaskDescription</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="DeleteActiveTask" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-check-circle"></i> Done</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>