@model TaskModel
<h1>Create New Task </h1>
<hr />

<form method="post">
   
    
    <div class="form-group">
        <label  class="form-label mt-4">Task Title </label>
        <input asp-for="TaskTitle" type="text" class="form-control" autocomplete="off"  placeholder="Enter title ">
        <span asp-validation-for="TaskTitle" class="text-danger"></span>
        
    </div> 
    <div class="form-group">
        <label  class="form-label mt-4">Task description</label>
        <input asp-for=TaskDescription type="text" class="form-control"  autocomplete="off">
        <span asp-validation-for="TaskDescription" class="text-danger"></span>
    </div>
    <br />
    <button asp-controller="AddTask" asp-action="Create" class="btn btn-primary" type="submit"><i class="bi bi-plus-circle"></i> Create New Task </button>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}