<h1>Have you finished this task ?</h1>
<hr />
<form method="post">


    <button asp-controller="DeleteActiveTask" asp-action="Delete"  type="submit" class="btn btn-primary">Finished</button>
   
</form>